@charset "UTF-8";


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        width: 100%;
    }
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link:active {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}

#button_offcanvas_navbar {
    
}