@charset "UTF-8";


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        width: 100%;
    }
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav-link {
    color: white;
}