body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.title_page {
    font-size: medium;
    color: white;
    text-decoration: none;
    text-align: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #0210ca;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
    background: -moz-linear-gradient(to left bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
    /*background: radial-gradient(rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9), rgba(106, 17, 203, 0.9));*/
}

#form_navbar {
    font-size: smaller;
}

.nav-link {
    color: white;
    font-size: medium;
}

.dropdown-menu {
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.dropdown-item {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link:active {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}

#button_offcanvas_navbar {
    margin-right: 5px;
}

.offcanvas-body {
    padding-top: 0;
}

.offcanvas-header {
    padding-bottom: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        width: 100%;
    }
}
